@charset "UTF-8";
html {
  scroll-behavior: smooth;
  font-size: 2.5641025641vw;
}

@media (min-width: 768px) {
  html {
    font-size: 0.8333333333vw;
  }
}
@media (min-width: 1250px) {
  html {
    font-size: 62.5%;
  }
}
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #000;
  line-height: 1.75;
}

img {
  max-width: 100%;
  width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  opacity: 0.7;
}

img {
  max-width: 100%;
}

u {
  text-decoration: none;
}

li {
  list-style: none;
}

.no-sp {
  display: contents;
}
@media screen and (min-width: 768px) {
  .no-sp {
    display: unset;
  }
}

.no-pc {
  display: inherit;
}
@media screen and (min-width: 768px) {
  .no-pc {
    display: none;
  }
}

/* header
-----------------------------------------*/
.header {
  width: 100%;
  padding: 0;
  height: 6.3rem;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 1000;
  /* ----- header-nav-pc ------ */
  /* ----- header-nav-pc 2ページ目------ */
}
@media screen and (min-width: 768px) {
  .header {
    height: 11.4rem;
    overflow: visible;
  }
}
.header__container {
  padding: 0 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__container {
    max-width: 120rem;
    margin: 0 auto;
  }
}
.header__logo {
  align-items: center;
  display: flex;
  height: 6.3rem;
  width: 19.7rem;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 22rem;
  }
}
.header__logo-image {
  max-width: 100%;
  width: 100%;
  display: block;
}
@media screen and (min-width: 768px) {
  .header__logo-image {
    max-width: 120%;
    width: 120%;
  }
}
.header__nav-pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav-pc {
    display: unset;
  }
}
.header__nav-pc-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav-pc-list {
    display: flex;
    height: 11.4rem;
    gap: 3.8rem;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .header__nav-pc-list-item {
    font-size: 1.6rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 768px) {
  .header__nav-pc-list-price {
    color: #168352;
  }
}

/* ----- hamburger ------ */
.hamburger {
  position: absolute;
  top: 6.3rem;
  width: 100%;
  z-index: 100;
  width: 35.8rem;
  height: 21rem;
  margin: 0 auto;
  border-radius: 2.4rem;
  background-color: #168352;
  display: none;
}
@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
.hamburger__hamburger-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .hamburger__hamburger-icon {
    display: none;
  }
}
.hamburger__nav-list {
  display: block;
  height: auto;
  margin: 0;
  padding: 3rem 0;
  text-align: center;
}
.hamburger__nav-list-item {
  padding: 0 0 4rem 0;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #FFF;
}
.hamburger__nav-list-text {
  color: #FFF;
}

/* top
-----------------------------------------*/
.top {
  margin-top: 6.3rem;
}
@media screen and (min-width: 768px) {
  .top {
    margin-top: 11.4rem;
  }
}
.top__container {
  padding: 0 1.6rem;
}
@media screen and (min-width: 768px) {
  .top__container {
    padding: 1.7rem 1.6rem 0;
    max-width: 120rem;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .top__inner {
    display: flex;
    align-items: center;
    padding: 0 0 6rem;
  }
}
.top__title {
  font-size: 2.8rem;
  font-weight: 700;
  margin: 0 0 1.7rem;
  padding-top: 0.8rem;
}
@media screen and (min-width: 768px) {
  .top__title {
    font-size: 4rem;
    margin: 0;
    width: 50%;
    padding: 0 0 0 3.3rem;
  }
}
.top__text {
  font-size: 1.5rem;
  padding: 0 0 2.6rem 0;
  line-height: 1.73;
  line-break: anywhere;
}
@media screen and (min-width: 768px) {
  .top__text {
    padding: 3.1rem 2.5rem 0 2.1rem;
    width: 50%;
  }
}
.top__cover-image {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .top__cover-image {
    max-width: 116.8rem;
    margin: 0 auto;
    display: block;
  }
}

/* top 2ページ目
-----------------------------------------*/
.price-top {
  margin-top: 5.6rem;
}
@media screen and (min-width: 768px) {
  .price-top {
    margin-top: 10.6rem;
  }
}
.price-top__container {
  padding: 0 1.55rem 0;
  margin: 2rem 0 0;
}
@media screen and (min-width: 768px) {
  .price-top__container {
    padding: 2rem 2.6rem 3rem;
    max-width: 125.3rem;
    margin: 0 auto;
  }
}
.price-top__cover-image {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .price-top__cover-image {
    max-width: 123rem;
    margin: 0 auto;
    display: block;
    position: relative;
  }
}
.price-top__title {
  font-size: 3rem;
  font-weight: 700;
  margin: 1.7rem 0 1.6rem;
  letter-spacing: 0.02rem;
}
@media screen and (min-width: 768px) {
  .price-top__title {
    font-size: 3.6rem;
    margin: 0;
    width: 32.7rem;
    padding: 2.3rem 2.7rem 2.9rem 3.9rem;
    position: absolute;
    top: 59.1rem;
    background-color: #fff;
    border-radius: 0 4rem 0 0;
  }
}
.price-top__item {
  display: flex;
  align-items: baseline;
  justify-content: end;
}
@media screen and (min-width: 768px) {
  .price-top__item {
    padding: 1.8rem 0 0 0;
  }
}
.price-top__text {
  font-size: 1.2rem;
  padding: 0 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .price-top__text {
    padding: 0;
  }
}
.price-top__arrow {
  width: 0.5rem;
  height: 1rem;
  margin: 0 0.7rem;
}
@media screen and (min-width: 768px) {
  .price-top__arrow {
    margin: 0 0.7rem;
  }
}

/* top  3ページ目
-----------------------------------------*/
.faq-top {
  margin-top: 8.3rem;
}
@media screen and (min-width: 768px) {
  .faq-top {
    margin-top: 10.6rem;
  }
}
.faq-top__container {
  padding: 0 1.55rem 0;
  margin: 2rem 0 0;
}
@media screen and (min-width: 768px) {
  .faq-top__container {
    padding: 5rem 2.6rem 3rem;
    max-width: 125.4rem;
    margin: 0 auto;
  }
}
.faq-top__cover-image {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .faq-top__cover-image {
    max-width: 123rem;
    margin: 0 auto;
    display: block;
    position: relative;
  }
}
.faq-top__title {
  font-size: 3rem;
  font-weight: 700;
  margin: 1.7rem 0 1.6rem;
  letter-spacing: 0.02rem;
}
@media screen and (min-width: 768px) {
  .faq-top__title {
    font-size: 3.6rem;
    margin: 0;
    width: 32.7rem;
    padding: 2.3rem 2.7rem 3.2rem 4.1rem;
    position: absolute;
    top: 59.1rem;
    background-color: #fff;
    border-radius: 0 4rem 0 0;
  }
}
.faq-top__item {
  display: flex;
  align-items: baseline;
  justify-content: end;
}
@media screen and (min-width: 768px) {
  .faq-top__item {
    padding: 1.7rem 0 0 0;
  }
}
.faq-top__text {
  font-size: 1.2rem;
  padding: 0 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .faq-top__text {
    padding: 0;
  }
}
.faq-top__arrow {
  width: 0.5rem;
  height: 1rem;
  margin: 0 0.7rem;
}
@media screen and (min-width: 768px) {
  .faq-top__arrow {
    margin: 0 0.7rem;
  }
}

/* about
-----------------------------------------*/
.about {
  padding: 5.1rem 0 0;
}
@media screen and (min-width: 768px) {
  .about {
    padding: 5.8rem 0 6.7rem;
  }
}
@media screen and (min-width: 768px) {
  .about__container {
    max-width: 120rem;
    margin: 0 auto;
  }
}
.about__title {
  font-size: 1.6rem;
  color: #168352;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  line-height: 1.36;
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 2rem;
  }
}
.about__title-jp {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 0rem 0 1.5rem;
}
@media screen and (min-width: 768px) {
  .about__title-jp {
    font-size: 2.8rem;
    padding: 0rem 0 2.3rem;
  }
}
.about__contents {
  background-image: url(/assets/image/about_us_sp.jpg);
  background-size: cover;
  padding: 3.2rem 1.6rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .about__contents {
    background-image: none;
    background-size: unset;
    display: flex;
    justify-content: center;
    gap: 12.5%;
    padding: 0 11.6rem;
  }
}
.about__inner {
  padding: 1.5rem 2.5rem 1.8rem;
  background-color: #dedcd8;
  color: #111111;
  opacity: 0.8;
  border-radius: 3.2rem;
}
@media screen and (min-width: 768px) {
  .about__inner {
    width: 50%;
    background-color: #fff;
    opacity: unset;
    border-radius: unset;
    padding: 0;
  }
}
.about__catch {
  font-size: 1.8rem;
  color: #111111;
  font-weight: 700;
  line-height: 1.75;
  padding: 0 0 0.7rem 0;
}
@media screen and (min-width: 768px) {
  .about__catch {
    font-size: 2rem;
    padding: 10rem 0 2.4rem 0;
  }
}
.about__text {
  font-size: 1.5rem;
  line-height: 1.75;
}
@media screen and (min-width: 768px) {
  .about__text {
    font-size: 1.5rem;
    max-width: 41rem;
  }
}
@media screen and (min-width: 768px) {
  .about__image-pc {
    background-image: url(/assets/image/about_us_pc.png);
    display: flex;
    width: 44.1rem;
    height: 56.8rem;
    background-size: contain;
  }
}

/* gallery 2ページ目
-----------------------------------------*/
.gallery {
  padding: 0.6rem 1.6rem 0;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding: 0.8rem 0 0;
  }
}
@media screen and (min-width: 768px) {
  .gallery__container {
    max-width: 83rem;
    margin: 0 auto;
    padding: 0 1.6rem;
  }
}
.gallery__title {
  font-size: 2.2rem;
  font-weight: 700;
  padding: 1rem 0 0.4rem;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    font-size: 2.8rem;
    padding: 1rem 0 1.4rem;
  }
}
.gallery__line {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dddddd;
  height: 100vh;
  position: relative;
  overflow: hidden;
  height: 0.3rem;
}
@media screen and (min-width: 768px) {
  .gallery__line {
    height: 0.4rem;
  }
}
.gallery__line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #168352;
  height: 100%;
  width: var(--percentage, 14%);
}
@media screen and (min-width: 768px) {
  .gallery__line::before {
    width: var(--percentage, 12.5%);
  }
}
.gallery__image {
  padding: 2.4rem 0 2rem;
  margin: 0 auto;
  height: 23.7rem;
  width: 35.7rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .gallery__image {
    height: 50rem;
    width: 100%;
    padding: 2.4rem 0 0;
  }
}

.swiper {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  height: 29rem;
}
@media screen and (min-width: 768px) {
  .swiper {
    padding: 1rem 0;
    max-width: 98rem;
    margin-inline: auto;
    height: 57rem;
  }
}
.swiper-pagination {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  --swiper-pagination-color: #168352;
  --swiper-pagination-bullet-inactive-color: #EEEEEE;
  --swiper-pagination-bullet-inactive-opacity: 1;
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 3.9rem;
}
@media screen and (min-width: 768px) {
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 6rem;
  }
}

/* faq 3ページ目
-----------------------------------------*/
.faq {
  padding: 2.6rem 1.6rem 1.2rem;
  margin-bottom: 13.3rem;
}
@media screen and (min-width: 768px) {
  .faq {
    margin-bottom: 0;
    padding: 2.8rem 1.6rem 4.9rem;
  }
}
@media screen and (min-width: 768px) {
  .faq__container {
    max-width: 80rem;
    margin: 0 auto;
  }
}
.faq__contents {
  background-color: #fff;
  font-size: 1.5rem;
  line-height: 1.8666666667;
  margin-bottom: 2.4rem;
  border: 0.1rem solid #cccccc;
  border-radius: 1.6rem;
  padding: 1rem 1.5rem;
}
@media screen and (min-width: 768px) {
  .faq__contents {
    padding: 1rem 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .faq__contents:nth-of-type(2) {
    margin-bottom: 2.3rem;
  }
}
.faq__contents:nth-of-type(4) {
  padding: 1.05rem 1.5rem;
}
@media screen and (min-width: 768px) {
  .faq__contents:nth-of-type(4) {
    margin-bottom: 2.3rem;
    padding: 1rem 1.5rem;
  }
}
.faq__contents:nth-of-type(8), .faq__contents:nth-of-type(9) {
  padding: 1.1rem 1.5rem;
}
@media screen and (min-width: 768px) {
  .faq__contents:nth-of-type(8), .faq__contents:nth-of-type(9) {
    padding: 1rem 1.5rem;
  }
}
.faq__about {
  color: #168352;
  font-size: 1.1rem;
  border: 0.1rem solid #168352;
  background-color: #fff;
  border-radius: 0.4rem;
  min-width: 10rem;
  padding: 0.1rem 1.1rem;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .faq__about {
    padding: 0.1rem 0.8rem 0.1rem 0.9rem;
    width: 10rem;
  }
}
.faq__about_05, .faq__about_06, .faq__about_07 {
  padding: 0.1rem 1.1rem 0.1rem 1.6rem;
}
.faq__about_08, .faq__about_09, .faq__about_10 {
  padding: 0.1rem 1.1rem 0.1rem 1.7rem;
}
.faq__question {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0 4.5rem 0 5.1rem;
  line-height: 1.8;
  line-break: anywhere;
}
@media screen and (min-width: 768px) {
  .faq__question {
    font-size: 1.8rem;
    padding: 0.7rem 4.5rem 0 5.8rem;
  }
}
.faq__question_05 {
  padding: 0 4.5rem 0 5.1rem;
}
@media screen and (min-width: 768px) {
  .faq__question_05 {
    padding: 0.7rem 4.5rem 0 5.8rem;
  }
}
.faq__question_09 {
  line-height: 1.75;
}
.faq__item {
  position: relative;
}
.faq__item::before {
  content: "Q.";
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  color: #168352;
  font-size: 2.4rem;
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 0.8rem;
  top: 0.1rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .faq__item::before {
    left: 1.6rem;
    top: 0;
  }
}
.faq__item::after {
  content: "";
  display: inline-block;
  background-image: url(/assets/image/positive.svg);
  position: absolute;
  background-size: 2.6rem;
  height: 3rem;
  width: 3rem;
  right: 0.1rem;
  top: 1.3rem;
}
@media screen and (min-width: 768px) {
  .faq__item::after {
    width: 2.2rem;
    height: 2.2rem;
    right: 1.7rem;
    top: 1.3rem;
  }
}
.faq__badge {
  display: inline-block;
  padding: 0.9rem 0 0 5rem;
}
@media screen and (min-width: 768px) {
  .faq__badge {
    padding: 0.9rem 0 0 5.8rem;
  }
}
.faq__about-second {
  display: inline-block;
  margin-left: 0.4rem;
  padding: 0.1rem 1.3rem 0.1rem 1.6rem;
}
.faq .faq__contents.open .faq__item::after {
  content: "";
  background-image: url(/assets/image/negative.svg);
  position: absolute;
  background-size: 2.6rem;
  height: 3rem;
  width: 3rem;
  right: 0.1rem;
  top: 1.3rem;
}
@media screen and (min-width: 768px) {
  .faq .faq__contents.open .faq__item::after {
    width: 2.2rem;
    height: 2.2rem;
    right: 1.7rem;
    top: 1.3rem;
  }
}
.faq__answer {
  padding: 0rem 0.6rem 0.6rem 1rem;
  line-height: 1.76;
  display: none;
  font-size: 1.6rem;
  line-break: anywhere;
}
@media screen and (min-width: 768px) {
  .faq__answer {
    padding: 1.7rem 1.5rem 0.8rem 1.7rem;
  }
}
.faq__answer_02, .faq__answer_03 {
  padding: 0.1rem 0.6rem 0.6rem 1rem;
}
@media screen and (min-width: 768px) {
  .faq__answer_02, .faq__answer_03 {
    padding: 1.7rem 1.5rem 0.8rem 1.8rem;
  }
}
.faq__answer_04 {
  letter-spacing: 0.015rem;
}
@media screen and (min-width: 768px) {
  .faq__answer_04 {
    letter-spacing: 0;
  }
}
.faq__answer_05 {
  padding: 0 0.6rem 0.6rem 1.1rem;
}
@media screen and (min-width: 768px) {
  .faq__answer_05 {
    padding: 1.7rem 1.5rem 0.7rem 1.8rem;
  }
}
.faq__answer_06 {
  padding: 0rem 0.6rem 0.6rem 1.15rem;
}
@media screen and (min-width: 768px) {
  .faq__answer_06 {
    padding: 1.7rem 1.5rem 0.7rem 1.7rem;
  }
}
.faq__answer_07, .faq__answer_08, .faq__answer_10 {
  padding: 0rem 0.6rem 0.7rem 1.15rem;
}
@media screen and (min-width: 768px) {
  .faq__answer_07, .faq__answer_08, .faq__answer_10 {
    padding: 1.7rem 1.5rem 0.7rem 1.8rem;
  }
}
.faq__answer_09 {
  padding: 0rem 0.6rem 0.5rem 1.1rem;
}
@media screen and (min-width: 768px) {
  .faq__answer_09 {
    padding: 1.7rem 1.5rem 0.8rem 1.75rem;
  }
}
.faq__answer_11 {
  padding: 0.85rem 0.6rem 0.7rem 1.15rem;
}
@media screen and (min-width: 768px) {
  .faq__answer_11 {
    padding: 1.7rem 1.5rem 0.8rem 1.7rem;
  }
}

/* features
-----------------------------------------*/
.features {
  background-color: #f3f9f6;
  padding: 5rem 0 3.5rem;
}
@media screen and (min-width: 768px) {
  .features {
    padding: 5rem 0 6.5rem;
  }
}
.features__container {
  padding: 0 1.6rem;
}
@media screen and (min-width: 768px) {
  .features__container {
    max-width: 120rem;
    margin: 0 auto;
  }
}
.features__title {
  font-size: 1.6rem;
  color: #168352;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  line-height: 1.36;
}
@media screen and (min-width: 768px) {
  .features__title {
    font-size: 2rem;
  }
}
.features__title-jp {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 0rem 0 1.5rem;
}
@media screen and (min-width: 768px) {
  .features__title-jp {
    font-size: 2.8rem;
    padding: 0rem 0 2.1rem;
  }
}
@media screen and (min-width: 768px) {
  .features__flex {
    display: flex;
    gap: 3.3rem;
  }
}
.features__contents {
  border-radius: 2.4rem;
  background-color: #fff;
  margin: 0 0 2rem 0;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.1607843137);
}
@media screen and (min-width: 768px) {
  .features__contents {
    margin: 0;
    width: 36.7rem;
  }
}
.features__upper {
  width: 100%;
  height: 20rem;
}
@media screen and (min-width: 768px) {
  .features__upper {
    height: 22.7rem;
  }
}
.features__image {
  height: 100%;
}
.features__down {
  background: #fff;
  border-radius: 2.4rem;
}
.features__text {
  font-size: 1.8rem;
  color: #111111;
  font-weight: 700;
  line-height: 1.7;
  padding: 1.3rem 1.6rem 1.5rem;
}
@media screen and (min-width: 768px) {
  .features__text {
    font-size: 1.9rem;
    padding: 1.3rem 2rem;
  }
}

/* features 2ページ目
-----------------------------------------*/
.price-features {
  padding: 1.5rem 1.6rem 0;
}
@media screen and (min-width: 768px) {
  .price-features {
    padding: 1.3rem 0 1rem;
  }
}
@media screen and (min-width: 768px) {
  .price-features__container {
    max-width: 83.1rem;
    margin: 0 auto;
    padding: 0 1.6rem;
  }
}
.price-features__title {
  font-size: 2.2rem;
  font-weight: 700;
  padding: 0.9rem 0 0.4rem;
}
@media screen and (min-width: 768px) {
  .price-features__title {
    font-size: 2.8rem;
    padding: 0.9rem 0 1.4rem;
  }
}
.price-features__line {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dddddd;
  height: 100vh;
  position: relative;
  overflow: hidden;
  height: 0.3rem;
}
@media screen and (min-width: 768px) {
  .price-features__line {
    margin: 0 0 3.3rem 0;
    height: 0.4rem;
  }
}
.price-features__line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #168352;
  height: 100%;
  width: var(--percentage, 14%);
}
@media screen and (min-width: 768px) {
  .price-features__line::before {
    width: var(--percentage, 12.5%);
  }
}
@media screen and (min-width: 768px) {
  .price-features__flex {
    display: flex;
    gap: 3.2rem;
  }
}
.price-features__item {
  margin: 0 0 0.85rem 0;
}
@media screen and (min-width: 768px) {
  .price-features__item {
    width: 24.5rem;
    margin: 0;
  }
}
.price-features__image {
  padding: 2.5rem 0 0.7rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .price-features__image {
    padding: 0;
    height: 15rem;
  }
}
.price-features__text {
  font-size: 1.8rem;
  font-weight: 700;
  line-break: anywhere;
  letter-spacing: 0.009rem;
  line-height: 1.76;
}
@media screen and (min-width: 768px) {
  .price-features__text {
    padding: 0.75rem 0 0 0;
  }
}

/* products
-----------------------------------------*/
.products {
  padding: 5.4rem 0 3.6rem;
}
@media screen and (min-width: 768px) {
  .products {
    padding: 6.4rem 0 6.3rem;
  }
}
.products__container {
  padding: 0 1.6rem;
}
@media screen and (min-width: 768px) {
  .products__container {
    max-width: 120rem;
    margin: 0 auto;
  }
}
.products__title {
  font-size: 1.6rem;
  color: #168352;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  line-height: 1.3;
}
@media screen and (min-width: 768px) {
  .products__title {
    font-size: 2rem;
  }
}
.products__title-jp {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 0 0 1.5rem;
}
@media screen and (min-width: 768px) {
  .products__title-jp {
    font-size: 2.8rem;
    padding: 0 0 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .products__flex {
    display: flex;
    flex-wrap: wrap;
    column-gap: 4.9rem;
    row-gap: 4rem;
    justify-content: center;
  }
}
.products__contents {
  border-radius: 2.4rem;
  background-color: #168352;
  display: flex;
  margin: 0 0 1.9rem;
  padding: 1.9rem 2.5rem 2.2rem 2.3rem;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .products__contents {
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
    margin: 0;
  }
}
.products__contents:hover {
  background-color: #dffaec;
}
.products__contents:hover .products__name {
  color: #168352;
  opacity: 1;
}
.products__contents:hover .products__photo {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .products__contents_01 {
    width: 52.5rem;
    padding: 2.4rem 2.5rem 2.5rem 3.5rem;
  }
}
@media screen and (min-width: 768px) {
  .products__contents_02 {
    width: 33.3rem;
    padding: 2.1rem 2.5rem 2rem 2.2rem;
  }
}
.products__photo {
  width: 10rem;
  height: 10rem;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .products__photo {
    width: 10rem;
    height: 10rem;
  }
}
@media screen and (min-width: 768px) {
  .products__photo_01 {
    width: 13rem;
    height: 13rem;
  }
}
@media screen and (min-width: 768px) {
  .products__photo_02 {
    width: 11rem;
    height: 11rem;
  }
}
.products__vertical {
  display: inline-block;
}
.products__name {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 700;
  padding: 0 0 0 1.8rem;
  line-height: 1.8;
}
@media screen and (min-width: 768px) {
  .products__name {
    padding: 0 0 0 2.8rem;
  }
}
.products__name_01 {
  padding: 0 1.8rem 0 1.8rem;
}
@media screen and (min-width: 768px) {
  .products__name_01 {
    font-size: 2.4rem;
    padding: 0 6.8rem 0 2.8rem;
  }
}
@media screen and (min-width: 768px) {
  .products__name_02 {
    font-size: 2rem;
    padding: 0 0 0 2.3rem;
  }
}
@media screen and (min-width: 768px) {
  .products__name_03 {
    line-height: 1.76;
    padding: 0 0 0 2.1rem;
  }
}

/* price 2ページ目
-----------------------------------------*/
.price {
  padding: 3.5rem 1.6rem 2rem;
}
@media screen and (min-width: 768px) {
  .price {
    padding: 3.7rem 0 0rem;
  }
}
@media screen and (min-width: 768px) {
  .price__container {
    max-width: 83rem;
    margin: 0 auto;
    padding: 0 1.6rem;
  }
}
.price__title {
  font-size: 2.2rem;
  font-weight: 700;
  padding: 1rem 0 0.7rem;
  line-height: 1.36;
}
@media screen and (min-width: 768px) {
  .price__title {
    font-size: 2.8rem;
    padding: 1rem 0 2rem;
  }
}
.price__line {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dddddd;
  height: 100vh;
  position: relative;
  overflow: hidden;
  height: 0.3rem;
}
@media screen and (min-width: 768px) {
  .price__line {
    margin: 0 0 0.9rem 0;
    height: 0.4rem;
  }
}
.price__line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #168352;
  height: 100%;
  width: var(--percentage, 14%);
}
@media screen and (min-width: 768px) {
  .price__line::before {
    width: var(--percentage, 12.5%);
  }
}
.price__text {
  font-size: 3.2rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  padding: 0.9rem 0 0 0;
}
.price__small {
  font-size: 1.6rem;
}

/* case
-----------------------------------------*/
.case {
  background-color: #f3f9f6;
  padding: 5rem 0 2.3rem;
}
@media screen and (min-width: 768px) {
  .case {
    padding: 5.9rem 6rem;
  }
}
.case__container {
  padding: 0 1.6rem;
}
@media screen and (min-width: 768px) {
  .case__container {
    max-width: 120rem;
    margin: 0 auto;
  }
}
.case__title {
  font-size: 1.6rem;
  color: #168352;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  line-height: 1.36;
}
@media screen and (min-width: 768px) {
  .case__title {
    font-size: 2rem;
  }
}
.case__title-jp {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 0 0 1.5rem;
}
@media screen and (min-width: 768px) {
  .case__title-jp {
    font-size: 2.8rem;
    padding: 0 0 2.3rem;
  }
}
@media screen and (min-width: 768px) {
  .case__flex {
    display: flex;
    gap: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .case__contents {
    width: 37rem;
  }
}
.case__item {
  width: 100%;
  height: 20.1rem;
}
@media screen and (min-width: 768px) {
  .case__item {
    height: 22.5rem;
  }
}
.case__image {
  width: 100%;
  height: 100%;
}
.case__name {
  color: #09947b;
  font-size: 1.9rem;
  font-weight: 700;
  line-break: anywhere;
  letter-spacing: -0.085rem;
  padding: 0.8rem 0 2.5rem 0;
  line-height: 1.68;
}
@media screen and (min-width: 768px) {
  .case__name {
    letter-spacing: 0;
    padding: 1rem 0 0 0;
  }
}

/* spec 2ページ目
-----------------------------------------*/
.spec {
  padding: 1.3rem 1.6rem 6.4rem;
}
@media screen and (min-width: 768px) {
  .spec {
    padding: 3.8rem 0 7rem;
  }
}
@media screen and (min-width: 768px) {
  .spec__container {
    max-width: 83rem;
    margin: 0 auto;
    padding: 0 1.6rem;
  }
}
.spec__title {
  font-size: 2.2rem;
  font-weight: 700;
  padding: 1rem 0 0.5rem;
}
@media screen and (min-width: 768px) {
  .spec__title {
    font-size: 2.8rem;
    padding: 1rem 0 1.5rem;
  }
}
.spec__line {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dddddd;
  height: 100vh;
  position: relative;
  overflow: hidden;
  height: 0.3rem;
}
@media screen and (min-width: 768px) {
  .spec__line {
    margin: 0 0 1rem 0;
    height: 0.4rem;
  }
}
.spec__line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #168352;
  height: 100%;
  width: var(--percentage, 14%);
}
@media screen and (min-width: 768px) {
  .spec__line::before {
    width: var(--percentage, 12.5%);
  }
}
.spec__sub-title {
  font-size: 2rem;
  font-weight: 700;
  padding: 1.9rem 0 1.6rem 1.8rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .spec__sub-title {
    font-size: 2.4rem;
    max-width: 73.8rem;
    margin: 0 auto;
    padding: 1.9rem 0 2.6rem 1.8rem;
  }
}
.spec__sub-title::before {
  content: "";
  background-color: #168352;
  position: absolute;
  height: 3rem;
  width: 0.2rem;
  top: 2.3rem;
  left: -0.1rem;
}
@media screen and (min-width: 768px) {
  .spec__sub-title::before {
    width: 0.3rem;
    height: 4rem;
  }
}
@media screen and (min-width: 768px) {
  .spec__contents {
    max-width: 73.8rem;
    margin: 0 auto;
  }
}
.spec__table {
  border-collapse: collapse;
  width: 100%;
  border: 0.1rem solid #dddddd;
}
@media screen and (min-width: 768px) {
  .spec__table {
    min-height: 34.3rem;
    margin-bottom: 0;
  }
}
.spec__table-inner {
  display: flex;
  flex-direction: column;
  border: none;
}
@media screen and (min-width: 768px) {
  .spec__table-inner {
    flex-direction: unset;
    display: table-row;
  }
}
.spec__table-item, .spec__table-discription {
  display: block;
  border: 0.1rem solid #dddddd;
}
@media screen and (min-width: 768px) {
  .spec__table-item, .spec__table-discription {
    display: table-cell;
  }
}
.spec__table-item {
  font-size: 1.6rem;
  font-weight: 700;
  background-color: #f5f5f5;
  padding: 0.6rem 1.2rem 0.8rem 1.8rem;
}
@media screen and (min-width: 768px) {
  .spec__table-item {
    width: 19.9rem;
    padding: 1.8rem 1.2rem 2.1rem 1.8rem;
  }
}
.spec__table-discription {
  font-size: 1.6rem;
  padding: 0.6rem 1.2rem 0.79rem 1.8rem;
}
@media screen and (min-width: 768px) {
  .spec__table-discription {
    padding: 1.8rem 1.2rem 2.1rem 2.2rem;
  }
}

/* news
-----------------------------------------*/
.news {
  padding: 5rem 0 6.2rem;
}
@media screen and (min-width: 768px) {
  .news {
    padding: 5.9rem 0 7rem;
  }
}
.news__container {
  padding: 0 1.6rem;
}
@media screen and (min-width: 768px) {
  .news__container {
    max-width: 93.2rem;
    margin: 0 auto;
  }
}
.news__title {
  font-size: 1.6rem;
  color: #168352;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  line-height: 1.36;
}
@media screen and (min-width: 768px) {
  .news__title {
    font-size: 2rem;
  }
}
.news__title-jp {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 0 0 1.6rem;
}
@media screen and (min-width: 768px) {
  .news__title-jp {
    font-size: 2.8rem;
    padding: 0 0 2.4rem;
  }
}
.news__contents {
  border-top: 0.1rem solid #dddddd;
}
.news__list {
  padding: 1.4rem 0 1rem;
  border-bottom: 0.1rem solid #dddddd;
}
@media screen and (min-width: 768px) {
  .news__list {
    padding: 1.3rem 0 1.7rem;
  }
}
.news__badge {
  display: inline-block;
  width: 13.4rem;
  padding: 0.4rem 0 0.5rem;
  font-size: 1.3rem;
  color: #fff;
  line-height: 1.5;
  text-align: center;
  background-color: #473221;
  border-radius: 0.4rem;
  position: relative;
  left: 2.8rem;
}
@media screen and (min-width: 768px) {
  .news__badge {
    width: 13.4rem;
    padding: 0.4rem 0 0.5rem;
    left: 2.8rem;
  }
}
.news__date {
  display: inline-block;
  width: 6rem;
  color: #222222;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .news__date {
    font-size: 1.4rem;
    width: 5.8rem;
  }
}
.news__text {
  display: block;
  margin-top: 1rem;
  color: #09947b;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.002rem;
  line-height: 1.7;
}
@media screen and (min-width: 768px) {
  .news__text {
    display: unset;
    margin-left: 4.8rem;
  }
}
.news__btn {
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6.6rem;
  border-radius: 3.3rem;
  background-color: #09947b;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 2.4rem auto 0;
  box-shadow: 0 0.6rem 0 rgb(6, 102, 85);
  transition: all 0.2s ease;
}
@media screen and (min-width: 768px) {
  .news__btn {
    margin: 3rem auto 0;
  }
}
.news__btn:hover {
  box-shadow: 0 0.1rem 0 rgb(6, 102, 85);
  transform: translateY(0.3rem);
  opacity: 1;
}

/* contact 2ページ目
-----------------------------------------*/
.contact {
  background-image: url(/assets/image/footer_price_sp.jpg);
  background-size: cover;
  height: 36rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .contact {
    background-image: url(/assets/image/footer_price_pc.png);
    height: 45rem;
  }
}
.contact__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  position: relative;
}
.contact__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.contact__btn {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  border: 0.2rem solid #fff;
  border-radius: 4rem;
  width: 36rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .contact__btn {
    padding: 0 0 0.4rem 0;
  }
}
.contact__btn:hover {
  background-color: #fff;
  color: #168352;
  opacity: 1;
}

/* footer
-----------------------------------------*/
.footer {
  padding: 2.2rem 0;
  background-color: #168352;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 3.3rem 0 3.3rem;
  }
}
.footer__container {
  display: flex;
  justify-content: center;
}
.footer__text {
  display: flex;
}
.footer__text-left {
  color: #FFF;
  font-size: 1.3rem;
  padding-right: 1.7rem;
}
@media screen and (min-width: 768px) {
  .footer__text-left {
    font-size: 1.5rem;
    padding-right: 2.2rem;
  }
}
.footer__text-right {
  color: #FFF;
  font-size: 1.3rem;
  padding-left: 1.7rem;
  border-left: 0.1rem solid #FFF;
}
@media screen and (min-width: 768px) {
  .footer__text-right {
    font-size: 1.5rem;
    padding-left: 2rem;
    letter-spacing: -0.09rem;
  }
}/*# sourceMappingURL=main.css.map */