@charset "UTF-8";

$sp:767.9px;
$pc:768px;

@mixin sp {
    @media screen and (max-width: ($sp)) {
        @content;
    }
}
@mixin pc {
    @media screen and (min-width: ($pc)) {
        @content;
    }
}

html {
    scroll-behavior: smooth;
    font-size: calc(10 * 100vw / 390);
}
@media (min-width:768px) {
    html {
        font-size: calc(10 * 100vw / 1200);
    }
}
@media (min-width: 1250px) {
    html {
        font-size: 62.5%;
    }
}


body {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #000;
    line-height: 1.75;
}
img {
    max-width: 100%;
    width: 100%;
    vertical-align: bottom;
}
a {
    text-decoration: none;
    color: #000;
}

a:hover {
    opacity: 0.7;
}

img {
    max-width: 100%;
}

u {
    text-decoration: none;
}

li {
    list-style: none;
}

.no-sp {
    display: contents;

    @include pc {
        display: unset;
    }
}

.no-pc {
    display: inherit;

    @include pc {
        display: none;
    }
}

/* header
-----------------------------------------*/
.header {
    width: 100%;
    padding: 0;
    height: 6.3rem;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 1000;

    @include pc {
        height: 11.4rem;
        overflow: visible;
    }
    &__container {
        padding: 0 1.6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include pc {
            max-width: 120rem;
            margin: 0 auto;
        }
    }
    &__logo {
        align-items: center;
        display: flex;
        height: 6.3rem;
        width: 19.7rem;

        @include pc {
            max-width: 21rem;
        }
    }
    &__logo-image {
        max-width: 100%;
        width: 100%;
        display: block;

        @include pc {
            max-width: 120%;
            width: 120%;
        }
    }

    /* ----- header-nav-pc ------ */
    &__nav-pc {
        display: none;

        @include pc {
            display: unset;
        }
    }
    &__nav-pc-list {
        display: none;

        @include pc {
            display: flex;
            height: 11.4rem;
            gap: 4.8rem;
            align-items: center;
        }
    }
    &__nav-pc-list-item {
        @include pc {
            font-size: 1.6rem;
            font-weight: 700;
        }
    }
    &__nav-pc-list-price {
        @include pc {
            color: #168352;
        }
    }
}

/* ----- hamburger ------ */
.hamburger {
    position: absolute;
    top: 6.3rem;
    width: 100%;
    z-index: 100;
    width: 35.8rem;
    height: 21rem;
    margin: 0 1.9rem 0 0.5rem;
    border-radius: 2.4rem;
    background-color: #168352;
    display: none;

    @include pc {
        display: none;
    }

    &__hamburger-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        @include pc {
            display: none;
        }
    }
    &__nav-list {
        display: block;
        height: auto;
        margin: 0;
        padding: 3rem 0;
        text-align: center;
    }
    &__nav-list-item {
        padding: 0 0 4rem 0;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1;
        color: #FFF;
    }
    &__nav-list-text {
        color: #FFF;
    }
}

/* top
-----------------------------------------*/
.top {
    margin-top: 6.3rem;

    @include pc {
        margin-top: 11.4rem;
    }

    &__container {
        padding: 0 1.6rem;

        @include pc {
            padding: 2rem 1.6rem 3rem;
            max-width: 120rem;
            margin: 0 auto;
        }
    }
    &__inner {
        @include pc {
            display: flex;
            align-items: center;
            padding: 0 0 5rem;
        }
    }
    &__title {
        font-size: 2.8rem;
        font-weight: 700;
        margin: 1.5rem 0 2rem;

        @include pc {
            font-size: 4rem;
            margin: 0;
            width: 50%;
            padding: 0 0 0 3rem;
        }
    }
    &__text {
        font-size: 1.5rem;
        padding: 0 0 3rem 0;
        line-height: 1.6;
        line-break: auto;

        @include pc {
            padding: 3.3rem 2.5rem 0 2.5rem;
            width: 50%;
        }
    }
    &__cover-image {
        width: 100%;

        @include pc {
            max-width: 116.8rem;
            margin: 0 auto;
            display: block;
        }
    }
}

/* about
-----------------------------------------*/
.about {
    padding: 5rem 0 0;

    @include pc {
        padding: 5rem 0 5rem;
    }

    &__container {
        @include pc {
            max-width: 120rem;
            margin: 0 auto;
        }
    }
    &__title {
        font-size: 1.6rem;
        color: #168352;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        text-align: center;

        @include pc {
            font-size: 2rem;
        }
    }
    &__title-jp {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        padding: 1rem 0 2.3rem;

        @include pc {
            font-size: 2.8rem;
        }
    }
    &__contents {
        background-image: url(/assets/image/about_us_sp.jpg);
        background-size: cover;
        padding: 3rem 1.6rem;
        margin: 0 auto;

        @include pc {
            background-image: none;
            background-size: unset;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 14%;
            padding: 0 13rem;
        }
    }
    &__inner {
        padding: 2.5rem 2.4rem;
        background-color: #dedcd8;
        color: #111111;
        opacity: 0.800;
        border-radius: 3.2rem;

        @include pc {
            width: 50%;
            background-color: #fff;
            opacity: unset;
            border-radius: unset;
            padding: 0;
        }
    }
    &__catch {
        font-size: 1.8rem;
        color: #111111;
        font-weight: 700;
        line-height: 1.7;
        padding: 0 0 1.5rem 0;

        @include pc {
            font-size: 2rem;
            padding: 0 0 3.5rem 0;
        }
    }
    &__text {
        font-size: 1.5rem;
        line-height: 1.7;

        @include pc {
            font-size: 1.5rem;
        }
    }
    &__image-pc {
        @include pc {
            background-image: url(/assets/image/about_us_pc.png);
            display: flex;
            width: 44.1rem;
            height: 57.5rem;
        }
    }
}

/* features
-----------------------------------------*/
.features {
    background-color: #f3f9f6;
    padding: 4rem 0 2rem;

    @include pc {
        padding: 4rem 0 6rem;
    }

    &__container {
        padding: 0 1.6rem;

        @include pc {
            max-width: 120rem;
            margin: 0 auto;
        }
    }
    &__title {
        font-size: 1.6rem;
        color: #168352;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        text-align: center;

        @include pc {
            font-size: 2rem;
        }
    }
    &__title-jp {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        padding: 1rem 0 2.3rem;

        @include pc {
            font-size: 2.8rem;
        }
    }
    &__flex {
        @include pc {
            display: flex;
            gap: 2.5rem;
        }
    }
    &__contents {
        border-radius: 2.4rem;
        background-color: #fff;
        margin: 0 0 2.5rem 0;
        box-shadow: 0 .2rem .8rem #00000029;

        @include pc {
            margin: 0;
            width: 36.7rem;
        }
    }
    &__upper {
        width: 100%;
    }
    &__down {
        background: #fff;
        border-radius: 2.4rem;
    }
    &__text {
        font-size: 1.8rem;
        color: #111111;
        font-weight: 700;
        line-height: 1.6;
        padding: 1.5rem 1rem;

        @include pc {
            font-size: 1.9rem;
            padding: 1.5rem 1.9rem;
        }
    }
}

/* products
-----------------------------------------*/
.products {
    padding: 4rem 0 2rem;

    @include pc {
        padding: 4rem 0 6rem;
    }

    &__container {
        padding: 0 1.6rem;

        @include pc {
            max-width: 120rem;
            margin: 0 auto;
        }
    }
    &__title {
        font-size: 1.6rem;
        color: #168352;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        text-align: center;

        @include pc {
            font-size: 2rem;
        }
    }
    &__title-jp {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        padding: 1rem 0 2.3rem;

        @include pc {
            font-size: 2.8rem;
        }
    }
    &__flex {
        @include pc {
            display: flex;
            flex-wrap: wrap;
            gap: 4rem;
            justify-content: center;
        }
    }
    &__contents {
        border-radius: 2.4rem;
        background-color: #168352;
        display: flex;
        margin: 0 0 2rem;
        padding: 1.5rem 2.5rem 1.5rem 2rem;
        align-items: center;

        @include pc {
            padding: 2.5rem 2.5rem 2.5rem 2.5rem;
        }

        &:hover {
            background-color: #dffaec;
        }
        &:hover .products__name {
            color: #168352;
            opacity: 1;
        }
        &:hover .products__photo {
            opacity: 1;
        }
    }
    &__contents_01 {
        @include pc {
            width: 52.5rem;
        }
    }
    &__contents_02 {
        @include pc {
            width: 33.3rem;
        }
    }
    &__photo {
        width: 10rem;
        height: 10rem;
        flex-shrink: 0;

        @include pc {
            width: 10rem;
            height: 10rem;
        }
    }
    &__photo_01 {
        @include pc {
            width: 13rem;
            height: 13rem;
        }
    }
    &__photo_02 {
        @include pc {
            width: 11rem;
            height: 11rem;
        }
    }
    &__vertical {
        display: inline-block;
    }
    &__name {
        font-size: 1.8rem;
        color: #fff;
        font-weight: 700;
        padding: 0 0 0 2rem;
        line-height: 1.6;

        @include pc {
            padding: 0 0 0 2.8rem;
        }
    }
    &__name_01 {
        @include pc {
            font-size: 2.4rem;
        }
    }
    &__name_02 {
        @include pc {
            font-size: 2rem;
        }
    }
}

/* case
-----------------------------------------*/
.case {
    background-color: #f3f9f6;
    padding: 4rem 0 2rem;

    @include pc {
        padding: 4rem 0 5rem;
    }

    &__container {
        padding: 0 1.6rem;

        @include pc {
            max-width: 120rem;
            margin: 0 auto;
        }
    }
    &__title {
        font-size: 1.6rem;
        color: #168352;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        text-align: center;

        @include pc {
            font-size: 2rem;
        }
    }
    &__title-jp {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        padding: 1rem 0 2.3rem;

        @include pc {
            font-size: 2.8rem;
        }
    }
    &__flex {
        @include pc {
            display: flex;
            gap: 3rem;
        }
    }
    &__contents {
        @include pc {
            width: 37rem;
        }
    }
    &__name {
        color: #09947b;
        font-size: 1.9rem;
        font-weight: 700;
        line-break: anywhere;
        letter-spacing: -0.04rem;
        padding: 0 0 2rem 0;

        @include pc {
            letter-spacing: 0;
            padding: 1rem 0 0 0;
        }
    }
}

/* news
-----------------------------------------*/
.news {
    padding: 4rem 0 4rem;

    @include pc {
        padding: 4rem 0 5rem;
    }

    &__container {
        padding: 0 1.6rem;

        @include pc {
            max-width: 90rem;
            margin: 0 auto;
        }
    }
    &__title {
        font-size: 1.6rem;
        color: #168352;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        text-align: center;

        @include pc {
            font-size: 2rem;
        }
    }
    &__title-jp {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        padding: 1rem 0 2.3rem;

        @include pc {
            font-size: 2.8rem;
        }
    }
    &__contents {
        border-top: 0.1rem solid #dddddd;
    }
    &__list {
        padding: 1.2rem 0 0.7rem;
        border-bottom: 0.1rem solid #dddddd;

        @include pc {
            padding: 1.2rem 0 0.7rem;
        }
    }
    &__badge {
        display: inline-block;
        width: 13.4rem;
        padding: 0.4rem 0 0.5rem;
        font-size: 1.3rem;
        color: #fff;
        line-height: 1.5;
        text-align: center;
        background-color: #473221;
        border-radius: 0.4rem;
        position: relative;
        left: 2.8rem;

        @include pc {
            width: 13.4rem;
            padding: 0.4rem 0 0.5rem;
            left: 2.8rem;
        }
    }
    &__date {
        display: inline-block;
        width: 6rem;
        letter-spacing: 0.01rem;
        color: #222222;
        font-size: 1.5rem;

        @include pc {
            font-size: 1.4rem;
        }
    }
    &__text {
        display: block;
        margin-top: 1rem;
        color: #09947b;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: -0.004rem;

        @include pc {
            display: unset;
            margin-left: 5rem;
        }
    }
    &__btn {
        width: 30rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 6.6rem;
        border-radius: 3.3rem;
        background-color: #09947b;
        color: #fff;
        font-size: 1.8rem;
        font-weight: 700;
        margin: 2.7rem auto 0;
        box-shadow: 0 0.4rem 0 rgba(6, 102, 85);
        transition: all 0.2s ease;

        @include pc {
            margin: 3rem auto 0;
        }
        &:hover {
            box-shadow: 0 0.1rem 0 rgba(6, 102, 85);
            transform: translateY(0.3rem);
            opacity: 1;
        }
    }
}

/* footer
-----------------------------------------*/
.footer {
    padding: 2rem 0 2rem;
    background-color: #168352;

    @include pc {
        padding: 3.5rem 0 3.5rem;
    }

    &__container {
        display: flex;
        justify-content: center;
    }
    &__text {
        display: flex;
    }
    &__text-left {
        color: #FFF;
        font-size: 1.3rem;
        padding-right: 1.3rem;

        @include pc {
            font-size: 1.5rem;
            padding-right: 2.3rem;
        }
    }
    &__text-right {
        color: #FFF;
        font-size: 1.3rem;
        padding-left: 1.3rem;
        border-left: 0.1rem solid #FFF;

        @include pc {
            font-size: 1.5rem;
            padding-left: 2.3rem;
        }
    }
}