@charset "UTF-8";

$sp:767.9px;
$pc:768px;

@mixin sp {
    @media screen and (max-width: ($sp)) {
        @content;
    }
}
@mixin pc {
    @media screen and (min-width: ($pc)) {
        @content;
    }
}

html {
    scroll-behavior: smooth;
    font-size: calc(10 * 100vw / 390);
}
@media (min-width:768px) {
    html {
        font-size: calc(10 * 100vw / 1200);
    }
}
@media (min-width: 1250px) {
    html {
        font-size: 62.5%;
    }
}


body {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #000;
    line-height: 1.75;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
a {
    text-decoration: none;
    color: #000;
}


a:hover {
    opacity: 0.5;
}

img {
    max-width: 100%;
}

u {
    text-decoration: none;
}

li {
    list-style: none;
}

.no-sp {
    display: block;
}

.no-pc {
    display: inherit;

    @include pc {
        display: none;
    }
}

/* header
-----------------------------------------*/
.header {
    width: 100%;
    padding: 0;
    height: 6.3rem;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 1000;

    @include pc {
        height: 11rem;
        overflow: visible;
    }
    &__container {
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include pc {
        }
    }
    &__logo {
        align-items: center;
        display: flex;
        height: 6.3rem;
        width: 19.7rem;

        @include pc {
            max-width: 16.6rem;
            margin: 0 1.6rem;
        }
    }
    &__logo-image {
        max-width: 100%;
        width: 100%;
    }

    /* ----- header-nav-pc ------ */
    &__nav-pc {
        display: none;

        @include pc {
            display: unset;
            height: 10.1rem;
            gap: 4.8rem;
            margin-left: 8.3%;
            align-items: center;
            justify-content: flex-end;
        }
    }
    &__nav-pc-list {
        display: none;

        @include pc {
            display: flex;
            height: 10.1rem;
            gap: 4.8rem;
            align-items: center;
            justify-content: flex-end;
        }
    &__nav-pc-list-item {
        font-size: 2rem;
        line-height: calc(36 / 20);
        position: relative;
        padding: .7rem 0;
        }
    }
}

/* ----- hamburger ------ */
.hamburger {
    position: absolute;
    top: 6.3rem;
    width: 100%;
    z-index: 100;
    width: 35.8rem;
    height: 21rem;
    margin: 0 1.7rem;
    border-radius: 2.4rem;
    background-color: #168352;
    visibility: hidden;

    @include pc {
        display: none;
    }

    &__hamburger-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        @include pc {
            display: none;
        }
    }
    &__nav-list {
        display: block;
        height: auto;
        margin: 0;
        padding: 3rem 0;
        text-align: center;

        @include pc {
            height: 7.6rem;
            gap: 4.75rem;
            margin: 0 5rem 0 0;
            align-items: center;
            justify-content: flex-end;
        }
    }
    &__nav-list-item {
        padding: 0 0 4rem 0;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1;
        color: #FFF;
    }
    &__nav-list-text {
        color: #FFF;
    }
}

/* top
-----------------------------------------*/
.top {
    margin-top: 6.3rem;

    &__container {
        padding: 0 1.6rem;

    }
    &__title {
        font-size: 2.8rem;
        font-weight: 700;
        margin: 1.5rem 0 2rem;
    }
    &__text {
        font-size: 1.5rem;
        padding: 0 0 3rem 0;
        line-height: 1.6;
    }
    &__cover-image {
        width: 100%;
    }
}

/* about
-----------------------------------------*/
.about {
    padding: 5rem 0 0;

    &__container {

    }
    &__title {
        font-size: 1.6rem;
        color: #168352;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        text-align: center;
    }
    &__title-jp {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        padding: 1rem 0 2.3rem;
    }
    &__contents {
        background-image: url(/assets/image/about_us_sp.jpg);
        background-size: cover;
        padding: 3rem 1.6rem;
        margin: 0 auto;

        @include pc {
            background-image: url(/assets/image/about_us_pc.png);
        }
    }
    &__inner {
        padding: 2.5rem 2.4rem;
        background-color: #dedcd8;
        color: #111111;
        opacity: 0.800;
        border-radius: 3.2rem;
    }
    &__catch {
        font-size: 1.8rem;
        color: #111111;
        font-weight: 700;
        line-height: 1.7;
        padding: 0 0 1.5rem 0;
    }
    &__text {
        font-size: 1.5rem;
        line-height: 1.7;
    }
}

/* features
-----------------------------------------*/
.features {
    background-color: #f3f9f6;
    padding: 4rem 0 2rem;

    &__container {
        padding: 0 1.6rem;
    }
    &__title {
        font-size: 1.6rem;
        color: #168352;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        text-align: center;
    }
    &__title-jp {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        padding: 1rem 0 2.3rem;
    }
    &__contents {
        border-radius: 2.4rem;
        background-color: #fff;
        margin: 0 0 2.5rem 0;
    }
    &__upper {
        width: 100%;
    }
    &__down {
        background: #fff;
    }
    &__text {
        font-size: 1.8rem;
        color: #111111;
        font-weight: 700;
        line-height: 1.6;
        padding: 1.5rem 1rem;
    }
}

/* products
-----------------------------------------*/
.products {
    padding: 4rem 0 2rem;

    &__container {
        padding: 0 1.6rem;
    }
    &__title {
        font-size: 1.6rem;
        color: #168352;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        text-align: center;
    }
    &__title-jp {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        padding: 1rem 0 2.3rem;
    }
    &__contents {
        border-radius: 2.4rem;
        background-color: #168352;
        display: flex;
        margin: 0 0 2rem;
        padding: 1.5rem 4rem 1.5rem 2rem;
        align-items: center;
        position: relative;

        &:hover::after {
            content: "ロボット技術";
            background-color: #dffaec;
            font-size: 1.8rem;
            color: #fff;
            font-weight: 700;
        }
    }
    &__photo {
        width: 10rem;
        height: 10rem;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
    }
    &__vertical {
        display: inline-block;
    }
    &__name {
        font-size: 1.8rem;
        color: #fff;
        font-weight: 700;
        padding: 0 0 0 2rem;
        line-height: 1.6;
    }
}