@charset "UTF-8";

$sp:767.9px;
$pc:768px;

@mixin sp {
    @media screen and (max-width: ($sp)) {
        @content;
    }
}
@mixin pc {
    @media screen and (min-width: ($pc)) {
        @content;
    }
}

html {
    scroll-behavior: smooth;
    font-size: calc(10 * 100vw / 390);
}
@media (min-width:768px) {
    html {
        font-size: calc(10 * 100vw / 1200);
    }
}
@media (min-width: 1250px) {
    html {
        font-size: 62.5%;
    }
}


body {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #000;
    line-height: 1.75;
}
img {
    max-width: 100%;
    width: 100%;
    vertical-align: bottom;
}
a {
    text-decoration: none;
    color: #000;
}

a:hover {
    opacity: 0.7;
}

img {
    max-width: 100%;
}

u {
    text-decoration: none;
}

li {
    list-style: none;
}

.no-sp {
    display: contents;

    @include pc {
        display: unset;
    }
}

.no-pc {
    display: inherit;

    @include pc {
        display: none;
    }
}

/* header
-----------------------------------------*/
.header {
    width: 100%;
    padding: 0;
    height: 6.3rem;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 1000;

    @include pc {
        height: 11.4rem;
        overflow: visible;
    }
    &__container {
        padding: 0 1.6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include pc {
            max-width: 120rem;
            margin: 0 auto;
        }
    }
    &__logo {
        align-items: center;
        display: flex;
        height: 6.3rem;
        width: 19.7rem;

        @include pc {
            width: 22rem;
        }
    }
    &__logo-image {
        max-width: 100%;
        width: 100%;
        display: block;

        @include pc {
            max-width: 120%;
            width: 120%;
        }
    }

    /* ----- header-nav-pc ------ */
    &__nav-pc {
        display: none;

        @include pc {
            display: unset;
        }
    }
    &__nav-pc-list {
        display: none;

        @include pc {
            display: flex;
            height: 11.4rem;
            gap: 3.8rem;
            align-items: center;
        }
    }
    &__nav-pc-list-item {
        @include pc {
            font-size: 1.6rem;
            font-weight: 700;
        }
    }
    /* ----- header-nav-pc 2ページ目------ */
    &__nav-pc-list-price {
        @include pc {
            color: #168352;
        }
    }
    /* ----- header-nav-pc 3ページ目------ */
    &__nav-pc-list-faq {
        @include pc {
            color: #168352;
        }
    }
}

/* ----- hamburger ------ */
.hamburger {
    position: fixed;
    top: 6.3rem;
    left: 1.55rem;
    right: 1.55rem;
    z-index: 100;
    margin: 0 auto;
    border-radius: 2.4rem;
    background-color: #168352;
    display: none;

    @include pc {
        display: none;
    }

    &__hamburger-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        @include pc {
            display: none;
        }
    }
    &__nav-list {
        display: block;
        height: auto;
        margin: 0;
        padding: 4rem 2rem;
        text-align: center;
    }
    &__nav-list-item {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1;
        color: #FFF;
    }
    &__nav-list-item:not(:last-child) {
        margin-bottom: 4rem;
    }
    &__nav-list-text {
        color: #FFF;
        width: 100%;
        display: block;
    }
}

/* top
-----------------------------------------*/
.top {
    margin-top: 6.3rem;

    @include pc {
        margin-top: 11.4rem;
    }

    &__container {
        padding: 0 1.6rem;

        @include pc {
            padding: 1.7rem 1.6rem 0;
            max-width: 120rem;
            margin: 0 auto;
        }
    }
    &__inner {
        @include pc {
            display: flex;
            align-items: center;
            padding: 0 0 6rem;
        }
    }
    &__title {
        font-size: 2.8rem;
        font-weight: 700;
        margin: 0 0 1.7rem;
        padding-top: 0.8rem;

        @include pc {
            font-size: 4rem;
            margin: 0;
            width: 50%;
            padding: 0 0 0 3.3rem;
        }
    }
    &__text {
        font-size: 1.5rem;
        padding: 0 0 2.6rem 0;
        line-height: 1.73;
        line-break: anywhere;

        @include pc {
            padding: 3.1rem 2.5rem 0 2.1rem;
            width: 50%;
        }
    }
    &__cover-image {
        width: 100%;

        @include pc {
            max-width: 116.8rem;
            margin: 0 auto;
            display: block;
        }
    }
}

/* top 2ページ目
-----------------------------------------*/
.price-top {
    margin-top: 5.6rem;

    @include pc {
        margin-top: 10.6rem;
    }

    &__container {
        padding: 0 1.55rem 0;
        margin: 2rem 0 0;

        @include pc {
            padding: 2rem 2.6rem 3rem;
            max-width: 125.3rem;
            margin: 0 auto;
        }
    }
    &__cover-image {
        width: 100%;

        @include pc {
            max-width: 123rem;
            margin: 0 auto;
            display: block;
            position: relative;
        }
    }
    &__title {
        font-size: 3rem;
        font-weight: 700;
        margin: 1.7rem 0 1.6rem;
        letter-spacing: 0.02rem;

        @include pc {
            font-size: 3.6rem;
            margin: 0;
            width: 32.7rem;
            padding: 2.3rem 2.7rem 2.9rem 3.9rem;
            position: absolute;
            top: 59.1rem;
            background-color: #fff;
            border-radius: 0 4rem 0 0;
        }
    }
    &__item {
        display: flex;
        align-items: baseline;
        justify-content: end;
        cursor: pointer;

        @include pc {
            padding: 1.8rem 0 0 0;
        }
    }
    &__text {
        font-size: 1.2rem;
        padding: 0 0 1rem 0;

        @include pc {
            padding: 0;
        }
    }
    &__arrow {
        width: 0.5rem;
        height: 1rem;
        margin: 0 0.7rem;

        @include pc {
            margin: 0 0.7rem;
        }
    }
}

/* top  3ページ目
-----------------------------------------*/
.faq-top {
    margin-top: 8.3rem;

    @include pc {
        margin-top: 10.6rem;
    }

    &__container {
        padding: 0 1.55rem 0;
        margin: 2rem 0 0;

        @include pc {
            padding: 5rem 2.6rem 3rem;
            max-width: 125.4rem;
            margin: 0 auto;
        }
    }
    &__cover-image {
        width: 100%;

        @include pc {
            max-width: 123rem;
            margin: 0 auto;
            display: block;
            position: relative;
        }
    }
    &__title {
        font-size: 3rem;
        font-weight: 700;
        margin: 1.7rem 0 1.6rem;
        letter-spacing: 0.02rem;

        @include pc {
            font-size: 3.6rem;
            margin: 0;
            width: 32.7rem;
            padding: 2.3rem 2.7rem 3.2rem 4.1rem;
            position: absolute;
            top: 59.1rem;
            background-color: #fff;
            border-radius: 0 4rem 0 0;
        }
    }
    &__item {
        display: flex;
        align-items: baseline;
        justify-content: end;
        cursor: pointer;

        @include pc {
            padding: 1.7rem 0 0 0;
        }
    }
    &__text {
        font-size: 1.2rem;
        padding: 0 0 1rem 0;

        @include pc {
            padding: 0;
        }
    }
    &__arrow {
        width: 0.5rem;
        height: 1rem;
        margin: 0 0.7rem;

        @include pc {
            margin: 0 0.7rem;
        }
    }
}

/* about
-----------------------------------------*/
.about {
    padding: 5.1rem 0 0;

    @include pc {
        padding: 5.8rem 0 6.7rem;
    }

    &__container {
        @include pc {
            max-width: 120rem;
            margin: 0 auto;
        }
    }
    &__title {
        font-size: 1.6rem;
        color: #168352;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        text-align: center;
        line-height: 1.36;

        @include pc {
            font-size: 2rem;
        }
    }
    &__title-jp {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        padding: 0rem 0 1.5rem;

        @include pc {
            font-size: 2.8rem;
            padding: 0rem 0 2.3rem;
        }
    }
    &__contents {
        background-image: url(/assets/image/about_us_sp.jpg);
        background-size: cover;
        padding: 3.2rem 1.6rem;
        margin: 0 auto;

        @include pc {
            background-image: none;
            background-size: unset;
            display: flex;
            justify-content: center;
            gap: 12.5%;
            padding: 0 11.6rem;
        }
    }
    &__inner {
        padding: 1.5rem 2.5rem 1.8rem;
        background-color: #dedcd8;
        color: #111111;
        opacity: 0.800;
        border-radius: 3.2rem;

        @include pc {
            width: 50%;
            background-color: #fff;
            opacity: unset;
            border-radius: unset;
            padding: 0;
        }
    }
    &__catch {
        font-size: 1.8rem;
        color: #111111;
        font-weight: 700;
        line-height: 1.75;
        padding: 0 0 0.7rem 0;

        @include pc {
            font-size: 2rem;
            padding: 10rem 0 2.4rem 0;
        }
    }
    &__text {
        font-size: 1.5rem;
        line-height: 1.75;

        @include pc {
            font-size: 1.5rem;
            max-width: 41rem;
        }
    }
    &__image-pc {
        @include pc {
            background-image: url(/assets/image/about_us_pc.png);
            display: flex;
            width: 44.1rem;
            height: 56.8rem;
            background-size: contain;
        }
    }
}

/* gallery 2ページ目
-----------------------------------------*/
.gallery {
    padding: 0.6rem 1.6rem 0;

    @include pc {
        padding: 0.8rem 0 0;
    }

    &__container {
        @include pc {
            max-width: 83rem;
            margin: 0 auto;
            padding: 0 1.6rem;
        }
    }
    &__title {
        font-size: 2.2rem;
        font-weight: 700;
        padding: 1rem 0 0.4rem;

        @include pc {
            font-size: 2.8rem;
            padding: 1rem 0 1.4rem;
        }
    }
    &__line {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #dddddd;
        height: 100vh;
        position: relative;
        overflow: hidden;
        height: 0.3rem;

        @include pc {
            height: 0.4rem;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-color: #168352;
            height: 100%;
            width: var(--percentage, 14%);

            @include pc {
                width: var(--percentage, 12.5%);
            }
        }
    }

    &__image {
        padding: 2.4rem 0 2rem;
        margin: 0 auto;
        height: 23.7rem;
        width: 35.7rem;
        position: relative;

        @include pc {
            height: 50rem;
            width: 100%;
            padding: 2.4rem 0 0;
        }
    }
}
.swiper {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    height: 29rem;

    @include pc {
        padding: 1rem 0;
        max-width: 98rem;
        margin-inline: auto;
        height: 57rem;
    }
    &-slide {
        @include pc {

        }
    }
    &-pagination {
        width: 8px;
        height: 8px;
        border-radius: 4px;
        position: absolute;
        left: 50%;
        --swiper-pagination-color: #168352;
        --swiper-pagination-bullet-inactive-color: #EEEEEE;
        --swiper-pagination-bullet-inactive-opacity: 1;
    }
    &-pagination-bullets.swiper-pagination-horizontal {
        bottom: 3.9rem;

        @include pc {
            bottom: 6rem;
        }
    }
}

/* faq 3ページ目
-----------------------------------------*/
.faq {
    padding: 2.6rem 1.6rem 1.2rem;
    margin-bottom: 13.3rem;

    @include pc {
        margin-bottom: 0;
        padding: 2.8rem 1.6rem 4.9rem;
    }
    &__container {
        @include pc {
            max-width: 80rem;
            margin: 0 auto;
        }
    }
    &__contents {
        background-color: #fff;
        font-size: 1.5rem;
        line-height: calc(28 / 15);
        margin-bottom: 2.4rem;
        border: 0.1rem solid #cccccc;
        border-radius: 1.6rem;
        padding: 1rem 1.5rem;

        @include pc {
            padding: 1rem 1.5rem;
        }
    }
    &__contents:nth-of-type(2) {
        @include pc {
            margin-bottom: 2.3rem;
        }
    }
    &__contents:nth-of-type(4) {
        padding: 1.05rem 1.5rem;

        @include pc {
            margin-bottom: 2.3rem;
            padding: 1rem 1.5rem;
        }
    }
    &__contents:nth-of-type(8),
    &__contents:nth-of-type(9) {
        padding: 1.1rem 1.5rem;

        @include pc {
            padding: 1rem 1.5rem;
        }
    }

    &__about {
        color: #168352;
        font-size: 1.1rem;
        border: 0.1rem solid #168352;
        background-color: #fff;
        border-radius: 0.4rem;
        min-width: 10rem;
        padding: 0.1rem 1.1rem;
        display: inline-block;

        @include pc {
            padding: 0.1rem 0.8rem 0.1rem 0.9rem;
            width: 10rem;
        }
    }
    &__about_05,
    &__about_06,
    &__about_07 {
        padding: 0.1rem 1.1rem 0.1rem 1.6rem;
    }
    &__about_08,
    &__about_09,
    &__about_10 {
        padding: 0.1rem 1.1rem 0.1rem 1.7rem;
    }

    &__question {
        font-size: 1.6rem;
        font-weight: 700;
        padding: 0 4.5rem 0 5.1rem;
        line-height: 1.8;
        line-break: anywhere;

        @include pc {
            font-size: 1.8rem;
            padding: 0.7rem 4.5rem 0 5.8rem;
        }
    }
    &__question_05 {
        padding: 0 4.5rem 0 5.1rem;

        @include pc {
            padding: 0.7rem 4.5rem 0 5.8rem;
        }
    }
    &__question_09 {
        line-height: 1.75;
    }
    &__item {
        position: relative;
        cursor: pointer;

        &::before {
            content: "Q." ;
            display: inline-block;
            font-family: "Montserrat", sans-serif;
            color: #168352;
            font-size: 2.4rem;
            width: 3rem;
            height: 3rem;
            position: absolute;
            left: 0.8rem;
            top: 0.1rem;
            font-weight: 700;

            @include pc {
                left: 1.6rem;
                top: 0;
            }
        }
        &::after {
            content: "" ;
            display: inline-block;
            background-image: url(/assets/image/positive.svg);
            position: absolute;
            background-size: 2.6rem;
            height: 3rem;
            width: 3rem;
            right: 0.1rem;
            top: 1.3rem;

            @include pc {
                width: 2.2rem;
                height: 2.2rem;
                right: 1.7rem;
                top: 1.3rem;
            }
        }

    }
    &__badge {
        display: inline-block;
        padding: 0.9rem 0 0 5rem;

        @include pc {
            padding: 0.9rem 0 0 5.8rem;
        }
    }
    &__about-second {
        display: inline-block;
        margin-left: 0.4rem;
        padding: 0.1rem 1.3rem 0.1rem 1.6rem;

        @include pc {

        }

    }
    .faq__contents.open .faq__item::after {
        content: "" ;
        background-image: url(/assets/image/negative.svg);
        position: absolute;
        background-size: 2.6rem;
        height: 3rem;
        width: 3rem;
        right: 0.1rem;
        top: 1.3rem;

        @include pc {
            width: 2.2rem;
            height: 2.2rem;
            right: 1.7rem;
            top: 1.3rem;
        }
    }
    &__answer {
        padding: 0rem 0.6rem 0.6rem 1rem;
        line-height: 1.76;
        display: none;
        font-size: 1.6rem;
        line-break: anywhere;

        @include pc {
            padding: 1.7rem 1.5rem 0.8rem 1.7rem;
        }
    }
    &__answer_02,
    &__answer_03 {
        padding: 0.1rem 0.6rem 0.6rem 1rem;

        @include pc {
            padding: 1.7rem 1.5rem 0.8rem 1.8rem;
        }
    }
    &__answer_04 {
        letter-spacing: 0.015rem;

        @include pc {
            letter-spacing: 0;
        }
    }
    &__answer_05 {
        padding: 0 0.6rem 0.6rem 1.1rem;

        @include pc {
            padding: 1.7rem 1.5rem 0.7rem 1.8rem;
        }
    }
    &__answer_06 {
        padding: 0rem 0.6rem 0.6rem 1.15rem;

        @include pc {
            padding: 1.7rem 1.5rem 0.7rem 1.7rem;
        }
    }
    &__answer_07,
    &__answer_08,
    &__answer_10 {
        padding: 0rem 0.6rem 0.7rem 1.15rem;

        @include pc {
            padding: 1.7rem 1.5rem 0.7rem 1.8rem;
        }
    }
    &__answer_09 {
        padding: 0rem 0.6rem 0.5rem 1.1rem;

        @include pc {
            padding: 1.7rem 1.5rem 0.8rem 1.75rem;
        }
    }
    &__answer_11 {
        padding: 0.85rem 0.6rem 0.7rem 1.15rem;

        @include pc {
            padding: 1.7rem 1.5rem 0.8rem 1.7rem;
        }
    }
}

/* features
-----------------------------------------*/
.features {
    background-color: #f3f9f6;
    padding: 5rem 0 3.5rem;

    @include pc {
        padding: 5.7rem 0 6.5rem;
    }

    &__container {
        padding: 0 1.6rem;

        @include pc {
            max-width: 120rem;
            margin: 0 auto;
        }
    }
    &__title {
        font-size: 1.6rem;
        color: #168352;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        text-align: center;
        line-height: 1.36;

        @include pc {
            font-size: 2rem;
        }
    }
    &__title-jp {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        padding: 0rem 0 1.5rem;

        @include pc {
            font-size: 2.8rem;
            padding: 0rem 0 2.1rem;
        }
    }
    &__flex {
        @include pc {
            display: flex;
            gap: 3.3rem;
        }
    }
    &__contents {
        border-radius: 2.4rem;
        background-color: #fff;
        margin: 0 0 2rem 0;
        box-shadow: 0 .2rem .8rem #00000029;

        @include pc {
            margin: 0;
            width: 36.7rem;
        }
    }
    &__upper {
        width: 100%;
        height: 20rem;

        @include pc {
            height: 22.7rem;
        }
    }
    &__image {
        height: 100%;
    }
    &__down {
        background: #fff;
        border-radius: 2.4rem;
    }
    &__text {
        font-size: 1.8rem;
        color: #111111;
        font-weight: 700;
        line-height: 1.7;
        padding: 1.3rem 1.6rem 1.5rem;

        @include pc {
            font-size: 1.9rem;
            padding: 1.3rem 2rem;
        }
    }
}

/* features 2ページ目
-----------------------------------------*/
.price-features {
    padding: 1.5rem 1.6rem 0;

    @include pc {
        padding: 1.3rem 0 1rem;
    }

    &__container {
        @include pc {
            max-width: 83.1rem;
            margin: 0 auto;
            padding: 0 1.6rem;
        }
    }
    &__title {
        font-size: 2.2rem;
        font-weight: 700;
        padding: 0.9rem 0 0.4rem;

        @include pc {
            font-size: 2.8rem;
            padding: 0.9rem 0 1.4rem;
        }
    }
    &__line {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #dddddd;
        height: 100vh;
        position: relative;
        overflow: hidden;
        height: 0.3rem;

        @include pc {
            margin: 0 0 3.3rem 0;
            height: 0.4rem;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-color: #168352;
            height: 100%;
            width: var(--percentage, 14%);

            @include pc {
                width: var(--percentage, 12.5%);
            }
        }
    }
    &__flex {
        @include pc {
            display: flex;
            gap: 3.2rem;
        }
    }
    &__item {
        margin: 0 0 0.85rem 0;

        @include pc {
            width: 24.5rem;
            margin: 0;
        }
    }
    &__image {
        padding: 2.5rem 0 0.7rem;
        margin: 0 auto;

        @include pc {
            padding: 0;
            height: 15rem;
        }
    }
    &__text {
        font-size: 1.8rem;
        font-weight: 700;
        line-break: anywhere;
        letter-spacing: 0.009rem;
        line-height: 1.76;

        @include pc {
            padding: 0.75rem 0 0 0;
        }
    }
}

/* products
-----------------------------------------*/
.products {
    padding: 5.4rem 0 3.6rem;

    @include pc {
        padding: 6.4rem 0 6.3rem;
    }

    &__container {
        padding: 0 1.6rem;

        @include pc {
            max-width: 120rem;
            margin: 0 auto;
        }
    }
    &__title {
        font-size: 1.6rem;
        color: #168352;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        text-align: center;
        line-height: 1.3;

        @include pc {
            font-size: 2rem;
        }
    }
    &__title-jp {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        padding: 0 0 1.5rem;

        @include pc {
            font-size: 2.8rem;
            padding: 0 0 2.5rem;
        }
    }
    &__flex {
        @include pc {
            display: flex;
            flex-wrap: wrap;
            column-gap: 4.9rem;
            row-gap: 4rem;
            justify-content: center;
        }
    }
    &__contents {
        border-radius: 2.4rem;
        background-color: #168352;
        display: flex;
        margin: 0 0 1.9rem;
        padding: 1.9rem 2.5rem 2.2rem 2.3rem;
        align-items: center;

        @include pc {
            padding: 2.5rem 2.5rem 2.5rem 2.5rem;
            margin: 0;
        }

        &:hover {
            background-color: #dffaec;
            opacity: 1;
        }
        &:hover .products__name {
            color: #168352;
            opacity: 1;
        }
        &:hover .products__photo {
            opacity: 1;
        }
    }
    &__contents_01 {
        @include pc {
            width: 52.5rem;
            padding: 2.4rem 2.5rem 2.5rem 3.2rem;
        }
    }
    &__contents_02 {
        @include pc {
            width: 33.3rem;
            padding: 2.1rem 2.5rem 2rem 2.2rem;
        }
    }
    &__inner {
        display: contents;
    }
    &__photo {
        width: 10rem;
        height: 10rem;
        flex-shrink: 0;

        @include pc {
            width: 10rem;
            height: 10rem;
        }
    }
    &__photo_01 {
        @include pc {
            width: 13rem;
            height: 13rem;
        }
    }
    &__photo_02 {
        @include pc {
            width: 11rem;
            height: 11rem;
        }
    }
    &__vertical {
        display: inline-block;
    }
    &__name {
        font-size: 1.8rem;
        color: #fff;
        font-weight: 700;
        padding: 0 0 0 1.8rem;
        line-height: 1.8;

        @include pc {
            padding: 0 0 0 2.8rem;
        }
    }
    &__name_01 {
        padding: 0 1.8rem 0 1.8rem;

        @include pc {
            font-size: 2.4rem;
            padding: 0 6.8rem 0 3.1rem;
        }
    }
    &__name_02 {
        @include pc {
            font-size: 2rem;
            padding: 0 0 0 2.3rem;
        }
    }
    &__name_03 {
        @include pc {
            line-height: 1.76;
            padding: 0 0 0 2.1rem;
            line-height: 1.73;
        }
    }
    &__name_04 {
        padding: 0.4rem 0 0 1.9rem;

        @include pc {
            padding: 0 0 0 2.1rem;
        }
    }
}

/* price 2ページ目
-----------------------------------------*/
.price {
    padding: 3.5rem 1.6rem 2rem;

    @include pc {
        padding: 3.7rem 0 0rem;
    }

    &__container {
        @include pc {
            max-width: 83rem;
            margin: 0 auto;
            padding: 0 1.6rem;
        }
    }
    &__title {
        font-size: 2.2rem;
        font-weight: 700;
        padding: 1rem 0 0.7rem;
        line-height: 1.36;

        @include pc {
            font-size: 2.8rem;
            padding: 1rem 0 2rem;
        }
    }
    &__line {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #dddddd;
        height: 100vh;
        position: relative;
        overflow: hidden;
        height: 0.3rem;

        @include pc {
            margin: 0 0 0.9rem 0;
            height: 0.4rem;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-color: #168352;
            height: 100%;
            width: var(--percentage, 14%);

            @include pc {
                width: var(--percentage, 12.5%);
            }
        }
    }
    &__text {
        font-size: 3.2rem;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;
        padding: 0.9rem 0 0 0;
        color: #168352;
    }
    &__small {
        font-size: 1.6rem;
    }
}

/* case
-----------------------------------------*/
.case {
    background-color: #f3f9f6;
    padding: 5rem 0 2.3rem;

    @include pc {
        padding: 5.9rem 6rem;
    }

    &__container {
        padding: 0 1.6rem;

        @include pc {
            max-width: 120rem;
            margin: 0 auto;
        }
    }
    &__title {
        font-size: 1.6rem;
        color: #168352;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        text-align: center;
        line-height: 1.36;

        @include pc {
            font-size: 2rem;
        }
    }
    &__title-jp {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        padding: 0 0 1.5rem;

        @include pc {
            font-size: 2.8rem;
            padding: 0 0 2.3rem;
        }
    }
    &__flex {
        @include pc {
            display: flex;
            gap: 3rem;
        }
    }
    &__contents {

        @include pc {
            width: 37rem;
        }
    }
    &__item {
        width: 100%;
        height: 20.1rem;

        @include pc {
            height: 22.5rem;
        }
    }
    &__image {
        width: 100%;
        height: 100%
    }
    &__name {
        color: #09947b;
        font-size: 1.9rem;
        font-weight: 700;
        line-break: anywhere;
        letter-spacing: -0.085rem;
        padding: 0.8rem 0 2.5rem 0;
        line-height: 1.68;

        @include pc {
            letter-spacing: 0;
            padding: 1rem 0 0 0;
        }
    }
}

/* spec 2ページ目
-----------------------------------------*/
.spec {
    padding: 1.3rem 1.6rem 6.4rem;

    @include pc {
        padding: 3.8rem 0 7rem;
    }

    &__container {
        @include pc {
            max-width: 83rem;
            margin: 0 auto;
            padding: 0 1.6rem;
        }
    }
    &__title {
        font-size: 2.2rem;
        font-weight: 700;
        padding: 1rem 0 0.5rem;

        @include pc {
            font-size: 2.8rem;
            padding: 1rem 0 1.5rem;
        }
    }
    &__line {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #dddddd;
        height: 100vh;
        position: relative;
        overflow: hidden;
        height: 0.3rem;

        @include pc {
            margin: 0 0 1rem 0;
            height: 0.4rem;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-color: #168352;
            height: 100%;
            width: var(--percentage, 14%);

            @include pc {
                width: var(--percentage, 12.5%);
            }
        }
    }
    &__sub-title {
        font-size: 2rem;
        font-weight: 700;
        padding: 1.9rem 0 1.6rem 1.8rem;
        position: relative;

        @include pc {
            font-size: 2.4rem;
            max-width: 73.8rem;
            margin: 0 auto;
            padding: 1.9rem 0 2.6rem 1.8rem;
        }

        &::before {
            content: "";
            background-color: #168352;
            position: absolute;
            height: 3rem;
            width: 0.2rem;
            top: 2.3rem;
            left: -0.1rem;

            @include pc {
                width: 0.3rem;
                height: 4rem;
            }
        }
    }
    &__contents {
        @include pc {
            max-width: 73.8rem;
            margin: 0 auto;
        }
    }
    &__table {
        border-collapse: collapse;
        width: 100%;
        border: 0.1rem solid #dddddd;

        @include pc {
            min-height: 34.3rem;
            margin-bottom: 0;
        }
    }
    &__table-inner {
        display: flex;
        flex-direction: column;
        border: none;

        @include pc {
            flex-direction: unset;
            display: table-row;
        }
    }
    &__table-item,
    &__table-discription {
        display: block;
        border: 0.1rem solid #dddddd;

        @include pc {
            display: table-cell;
        }
    }
    &__table-item {
        font-size: 1.6rem;
        font-weight: 700;
        background-color: #f5f5f5;
        padding: 0.6rem 1.2rem 0.8rem 1.8rem;

        @include pc {
            width: 19.9rem;
            padding: 1.8rem 1.2rem 2.1rem 1.8rem;
        }
    }
    &__table-discription {
        font-size: 1.6rem;
        padding: 0.6rem 1.2rem 0.79rem 1.8rem;

        @include pc {
            padding: 1.8rem 1.2rem 2.1rem 2.2rem;
        }
    }
}


/* news
-----------------------------------------*/
.news {
    padding: 5rem 0 6.2rem;

    @include pc {
        padding: 5.9rem 0 7rem;
    }

    &__container {
        padding: 0 1.6rem;

        @include pc {
            max-width: 93.2rem;
            margin: 0 auto;
        }
    }
    &__title {
        font-size: 1.6rem;
        color: #168352;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        text-align: center;
        line-height: 1.36;

        @include pc {
            font-size: 2rem;
        }
    }
    &__title-jp {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        padding: 0 0 1.6rem;

        @include pc {
            font-size: 2.8rem;
            padding: 0 0 2.4rem;
        }
    }
    &__contents {
        border-top: 0.1rem solid #dddddd;
    }
    &__list {
        padding: 1.4rem 0 1rem;
        border-bottom: 0.1rem solid #dddddd;

        @include pc {
            padding: 1.3rem 0 1.7rem;
        }
    }
    &__badge {
        display: inline-block;
        width: 13.4rem;
        padding: 0.4rem 0 0.5rem;
        font-size: 1.3rem;
        color: #fff;
        line-height: 1.5;
        text-align: center;
        background-color: #473221;
        border-radius: 0.4rem;
        position: relative;
        left: 2.8rem;

        @include pc {
            width: 13.4rem;
            padding: 0.4rem 0 0.5rem;
            left: 2.8rem;
        }
    }
    &__date {
        display: inline-block;
        width: 6rem;
        color: #222222;
        font-size: 1.5rem;

        @include pc {
            font-size: 1.4rem;
            width: 5.8rem;
        }
    }
    &__text {
        display: block;
        margin-top: 1rem;
        color: #09947b;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 0.002rem;
        line-height: 1.7;

        @include pc {
            display: unset;
            margin-left: 4.8rem;
        }
    }
    &__btn {
        width: 30rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 6.6rem;
        border-radius: 3.3rem;
        background-color: #09947b;
        color: #fff;
        font-size: 1.8rem;
        font-weight: 700;
        margin: 2.4rem auto 0;
        box-shadow: 0 0.6rem 0 rgba(6, 102, 85);
        transition: all 0.2s ease;

        @include pc {
            margin: 3rem auto 0;
        }
        &:hover {
            box-shadow: 0 0.1rem 0 rgba(6, 102, 85);
            transform: translateY(0.3rem);
            opacity: 1;
        }
    }
}

/* contact 2ページ目
-----------------------------------------*/
.contact {
    background-image: url(/assets/image/footer_price_sp.jpg);
    background-size: cover;
    height: 36rem;
    position: relative;

    @include pc {
        background-image: url(/assets/image/footer_price_pc.png);
        height: 45rem;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100%;
        position: relative;
    }
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }
    &__btn {
        font-size: 2rem;
        font-weight: 700;
        color: #fff;
        border: 0.2rem solid #fff;
        border-radius: 4rem;
        width: 36rem;
        height: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;

        @include pc {
            padding: 0 0 0.4rem 0;
        }

        &:hover {
            background-color: #fff;
            color: #168352;
            opacity: 1;
        }
    }
}

/* footer
-----------------------------------------*/
.footer {
    padding: 2.2rem 0;
    background-color: #168352;

    @include pc {
        padding: 3.4rem 0 3.4rem 0.1rem;
    }

    &__container {
        display: flex;
        justify-content: center;
        gap: 1.55rem;

        @include pc {
            gap: 2rem;
        }
    }
    &__text {
        display: flex;
        color: #FFF;
        font-size: 1.3rem;

        @include pc {
            font-size: 1.5rem;
        }
    }
    &__line {
        border: 0.1rem solid #fff;
    }
    &__text-left {
        @include pc {
            letter-spacing: 0.03rem;
        }
    }
    &__text-right {
        @include pc {
            letter-spacing: -0.09rem;
        }
    }
}