html {
  scroll-behavior: smooth;
  font-size: 2.5641025641vw;
}

@media (min-width: 768px) {
  html {
    font-size: 0.8333333333vw;
  }
}
@media (min-width: 1250px) {
  html {
    font-size: 62.5%;
  }
}
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #000;
}

* {
  line-height: 1.2;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  opacity: 0.5;
}

img {
  max-width: 100%;
}

u {
  text-decoration: none;
}

li {
  list-style: none;
}

.flex {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .flex {
    justify-content: space-between;
  }
}

.no-sp {
  display: block;
}

.no-pc {
  display: inherit;
}
@media screen and (min-width: 768px) {
  .no-pc {
    display: none;
  }
}

/* header
-----------------------------------------*/
.header {
  width: 100%;
  padding: 0;
  height: 6.3rem;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 1000;
}
@media screen and (min-width: 768px) {
  .header {
    height: 11rem;
    overflow: visible;
  }
}
.header__container {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  align-items: center;
  display: flex;
  height: 6.3rem;
  width: 19.7rem;
}
@media screen and (min-width: 768px) {
  .header .logo {
    max-width: 16.6rem;
    margin: 0 1.6rem;
  }
}
.header img {
  max-width: 100%;
  width: 100%;
}

/* ----- header-pc-nav ------ */
.pc-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .pc-nav {
    display: unset;
    height: 10.1rem;
    gap: 4.8rem;
    margin-left: 8.3%;
    align-items: center;
    justify-content: flex-end;
  }
}
.pc-nav ul {
  display: none;
}
@media screen and (min-width: 768px) {
  .pc-nav ul {
    display: flex;
    height: 10.1rem;
    gap: 4.8rem;
    align-items: center;
    justify-content: flex-end;
  }
}
.pc-nav ul li a {
  font-size: 2rem;
  line-height: 1.8;
  position: relative;
  padding: 0.7rem 0;
}
.pc-nav ul:hover {
  opacity: 1;
}
.pc-nav .nav__btn {
  display: none;
}
@media screen and (min-width: 768px) {
  .pc-nav .nav__btn {
    width: 28.2rem;
    padding: 1.6rem 4.1rem;
    background: linear-gradient(90deg, #0271E0 0%, #53A2F0 100%);
    border-radius: 3.1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* ----- hamburger-btn ------ */
.hamburger__nav {
  background: #005BAC;
  position: absolute;
  top: 7rem;
  left: 0;
  width: 100%;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .hamburger__nav {
    display: none;
  }
}

.hamburger__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .hamburger__icon {
    display: none;
  }
}

.bi-list {
  font-size: 3.8rem;
}

/* ----- hamburger-menu ------ */
.hamburger__nav {
  position: absolute;
  top: 6.3rem;
  width: 100%;
  z-index: 100;
  width: 35.8rem;
  height: 21rem;
  margin: 0 1.7rem;
  border-radius: 2.4rem;
  background-color: #168352;
}
.hamburger__nav ul {
  display: block;
  height: auto;
  margin: 0;
  padding: 3rem 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hamburger__nav ul {
    height: 7.6rem;
    gap: 4.75rem;
    margin: 0 5rem 0 0;
    align-items: center;
    justify-content: flex-end;
  }
}
.hamburger__nav li {
  padding: 0 0 4rem 0;
}
.hamburger__nav a {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #FFF;
}
.hamburger__nav i {
  color: #fff;
  font-size: 1.9rem;
  font-weight: 700;
  margin-right: 0.7rem;
  text-shadow: 0.1rem 0.1rem 0 #005BAC, -0.1rem -0.1rem 0 #005BAC, 0.1rem -0.1rem 0 #005BAC, -0.1rem 0.1rem 0 #005BAC;
}
.hamburger__nav .nav__btn {
  display: unset;
  width: 35rem;
  padding: 2rem 4.1rem;
  border-radius: 3.1rem;
  font-size: 1.8rem;
  font-weight: 700;
  background-color: #fff;
  margin: 0 auto 3rem;
  color: #005BAC;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamburger__nav .nav__btn:hover {
  opacity: 0.5;
}

/* top
-----------------------------------------*/
.top {
  margin-top: 6.3rem;
}
.top__container {
  padding: 0 1.6rem;
}
.top__title {
  font-size: 2.8rem;
  font-weight: 700;
  margin: 1.5rem 0 2rem;
}
.top__text {
  font-size: 1.5rem;
  padding: 0 0 3rem 0;
  line-height: 1.6;
}
.top__cover-sp {
  width: 100%;
}

/* about
-----------------------------------------*/
.about {
  padding: 5rem 0 0;
}
.about__title {
  font-size: 1.6rem;
  color: #168352;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.about__title-jp {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 1rem 0 2.3rem;
}
.about__contents {
  background-image: url(/assets/image/about_us_sp.jpg);
  background-size: cover;
  padding: 3rem 1.6rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .about__contents {
    background-image: url(/assets/image/about_us_pc.png);
  }
}
.about__inner {
  padding: 2.5rem 2.4rem;
  background-color: #dedcd8;
  color: #111111;
  opacity: 0.8;
  border-radius: 3.2rem;
}
.about__catch {
  font-size: 1.8rem;
  color: #111111;
  font-weight: 700;
  line-height: 1.7;
  padding: 0 0 1.5rem 0;
}
.about__text {
  font-size: 1.5rem;
  line-height: 1.7;
}

/* features
-----------------------------------------*/
.features {
  background-color: #f3f9f6;
  padding: 4rem 0 2rem;
}
.features__container {
  padding: 0 1.6rem;
}
.features__title {
  font-size: 1.6rem;
  color: #168352;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.features__title-jp {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 1rem 0 2.3rem;
}
.features__contents {
  border-radius: 2.4rem;
  background-color: #fff;
  margin: 0 0 2.5rem 0;
}
.features__upper {
  width: 100%;
}
.features__down {
  background: #fff;
}
.features__text {
  font-size: 1.8rem;
  color: #111111;
  font-weight: 700;
  line-height: 1.6;
  padding: 1.5rem 1rem;
}

/* products
-----------------------------------------*/
.products {
  padding: 4rem 0 2rem;
}
.products__container {
  padding: 0 1.6rem;
}
.products__title {
  font-size: 1.6rem;
  color: #168352;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.products__title-jp {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 1rem 0 2.3rem;
}
.products__contents {
  border-radius: 2.4rem;
  background-color: #168352;
  display: flex;
  margin: 0 0 2rem;
  padding: 1.5rem 4rem 1.5rem 2rem;
  align-items: center;
}
.products__photo {
  width: 10rem;
  height: 10rem;
}
.products__vertical {
  display: inline-block;
}
.products__name {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 700;
  padding: 0 0 0 2rem;
  line-height: 1.6;
}
/*# sourceMappingURL=main.css.map */